* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

/* HEADER */

header {
    width: 100%;
    height: 65px;
    border-bottom: solid black 0.5px;
    background-color: white;
}

/* MAIN */

main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    flex: 1;
}

/* Accueil */

.vue-accueil {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
}

/* Boussole */

.vue-boussole {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
}

/* Paramètres */

.vue-parametres {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
}

/* FOOTER */

footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
    height: 85px;
    border-top: solid black 0.5px;
    background-color: white;
}

footer button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}

footer button img {
    width: 30px;
}

/* RÉGLAGES DES BOUTONS */

button {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    appearance: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

button:hover,
button:active,
button:focus {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    appearance: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}